.formContainer {
  width: 60%;
  margin: 0 auto;
}

.heading {
  font-size: 20px;
}

.alert-danger {
  background-color: #f40000;
  color: white;
  height: 10px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.grid-column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 40px;
  margin-bottom: 30px;
}

.formButton {
  text-transform: uppercase;
  font-family: "Arial Narrow";
  letter-spacing: 0.5;
  background-color: #00a5f4;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  margin: 50px;
  border: none;
  outline: none !important;
  border-radius: 5px;
}

label {
  font-size: 12px;
}

input,
textarea {
  box-shadow: none !important;
}

.invalid {
  border: 1px solid #f40000 !important;
}
